{% extends 'base.html' %}
{% load static%}
{% block title %}
Home
{% endblock %}

{% block content %}

    <!-- Banner Image -->
    <div class="jumbotron">
        <img class="d-block w-100" src="{% static 'images/f-banner.png' %}">
        <hr class="my-4">
         <h3 class="display-4"><i>If music feeds our desire to love, then play on, musician. <br><br>Play so much music that I become
             stuffed with it, so love’s appetite for hearing music grows sick and dies.</i></h3>
    </div>

    <!-- Container with Two Images and Text Below -->
    <div class="container mt-5">
        <p>Explore visualizations that highlight the most frequently used words and phrases in Drake's and Tinashe's lyrics.
            Gain insights into their lyrical themes and what your favourite albums are really about.</p>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/drake.jpeg' %}" class="img-fluid equal-size" alt="Image 1">
                <p class="mt-2">Description of Image 1</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Explore Drake</a>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/nashe.jpeg' %}" class="img-fluid equal-size" alt="Image 2">
                <p class="mt-2">Description of Image 2</p>
                <a class="btn btn-primary btn-lg" href="{% url 'nashe:nashe_albums' %}" role="button">Explore Tinashe</a>
            </div>
        </div>
    </div>
{% endblock %}